body{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    'nav nav nav'
    'section section aside'
    'article article aside'
    'footer footer footer' 
    ;
    border: 1px solid red;
}

nav{
    grid-area: nav;
    border: 1px solid red;

    display: flex;
    align-items: center;
    flex-direction: column;
}

section{
    grid-area: section;
    border: 1px solid red;
    
    display: flex;
    align-items: center;
    flex-direction: column;
}

article{
    grid-area: article;
    border: 1px solid red;

    display: flex;
    align-items: center;
    flex-direction: column;
}

aside{
    grid-area: aside;
    border: 1px solid red;

    display: flex;
    align-items: center;
    flex-direction: column;
}

footer{
    grid-area: footer;
    border: 1px solid red;

    display: flex;
    align-items: center;
    flex-direction: column;
}
